.App {
  background-color: #282634;
  color: #DCDCDC;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.logo {
  height: 10dvh;
  pointer-events: none;
  margin-top: -65px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282634;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -3vh;
}

.App-header form{
  border: solid 1px #DCDCDC;
  border-radius: 5px;
  width: 66%;
  min-width: 158px;
  display: flex;
  align-items: center;
  height: 36px;
  margin-left: 70px;
  margin-right: 180px;
}

.App-header form input {
  border: none;
  background-color: #DCDCDC;
  color: #DCDCDC;
  height: 18px;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  padding: 0 60px 0 26px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  justify-content: center;
  background-color: #DCDCDC;
  border-top: 1px #9634E4 solid;
}

nav {
  background-color: #282634;
  color: #DCDCDC;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  z-index: 2;
}

nav a {
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #dcdcdc;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

nav a:hover {
  background-color: #dcdcdc40;
  color: #dcdcdc;
  cursor: pointer;
}

nav a.active {
  background-color: #DCDCDC;
  color: #282634;
  cursor: default;
}

.deckwrapper {
  text-align: left;
  padding: 30px;
  padding-left: 0px;
  background-color: #282634;
  color: #DCDCDC;
  width: 78vw;
  min-height: 78vh;
}

.cardwrapper {
  padding: 50px;
  width: 15vw;
  min-width: 288px;
  z-index: 2;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: #282634;
  color: #DCDCDC;
}

.Card-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.Card {
  width: 15vw;
  border-radius: 15px;
}

.deckCard {
  height: 240px;
  overflow-x: auto;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border-radius: 9px;
}

.deckCard:hover {
  top: -10px;
}

.noCards {
  height: 20px;
}

.cardsByType {
  display: flex;
  flex-wrap: wrap;
}

.foil-box {
  display: inline-block;
  height: calc(1rem - 2px);
  width: 0.5rem;
  border-radius: 1px;
  margin-left: 3px;
  vertical-align: -1px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 20%, #2BD2FF 52%, #2BFF88 80%);
}

.loginlogo {
  padding: 100px;
  padding-top: 16.5px;
  padding-bottom: 150px;
  width: 33vw;
}

.newdecklogo {
  padding: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33vw;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginpage p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  position: fixed;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #DCDCDC;
  top: 10px;
  right: 10px;
}

.newdeckbutton {
  width: 200px;
  height: 146px;
  border-radius: 20px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #DCDCDC;
}

.newdeck form {
  display: flex;
  width: 200px;
  height: 146px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newdeck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newdeck button span {
  font-size: 50pt;
}

.newdeck button:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.decks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.deck {
  text-decoration: none;
  width: 200px;
  height: 146px;
  border-radius: 20px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #DCDCDC;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.deck:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.deckPage {
  background-color: #282634;
  color: #DCDCDC;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decks button {
  width: 200px;
  height: 146px;
  border-radius: 20px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #DCDCDC;
}

.decks button:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.logout:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.mydecksbtn {
  position: fixed;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #DCDCDC;
  top: 70px;
  right: 10px;
}

.mydecksbtn:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.loginform button {
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #9534e487;
  background-color: #dcdcdc20;
  color: #dcdcdc;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginform button:hover {
  background-color: #dcdcdc40;
  cursor: pointer;
}

.empty {
  height: 36px;
  margin-left: 70px;
  margin-right: 180px;
  width: 66%;
  min-width: 158px;
}
